body[theme="contrast-dark"] {
    --body-color: #000000;
    --body-color-solid: #000000;
    --body-color-transparent: #0a0a0abd;
    --body-color-transparent-solid: #070707;
    --code-background: #040404;
    --topbar-color: #000000;
    --block-divider-border-color: #1c1c1c;
    --text-color: white;
    --text-color-muted: #7b7b7b;
    --topbar-menu-item-hover-bg: #ffffff1f;
    --switch-bg-default: #292929;
    --switch-bg-active: #ffffff;
    --switch-inner-default: #fff;
    --switch-inner-active: #232121;
    --explorer-tabs-bg: linear-gradient(0deg, transparent, #ffffff14);
    --explorer-tabs-border: radial-gradient(#ffffff4a, transparent);
    --explorer-tabs-color: white;
    --default-badge-bg: #e5903624;
    --default-badge-text: #e59036;
    --segment-bg: #1a1a1a;
    --segment-label: #383838;
    --segment-divider: #ffffff1a;
    --danger: #ff4949;
    --warning: #e59036;
    --code-footer-bg: #1c1c1ccf;
    --notificator-body-bg: #121212b5;
    --notificator-body-border: #252525;
    --switch-checkbox-active: #3f6cf7;
    --switch-checkbox: #999999;
    --link-color: #4165f1;

    .ace-tomorrow-night-bright .ace_gutter {
        background: var(--body-color);
        border-right: 1px solid var(--block-divider-border-color);
    }
}
