body[theme="light"] {
    --body-color: #ffffff;
    --body-color-solid: #ffffff;
    --body-color-transparent: #ffffffa6;
    --body-color-transparent-solid: white;
    --code-background: white;
    --topbar-color: #efefef;
    --block-divider-border-color: #e1e1e1;
    --text-color: #000000;
    --text-color-muted: #626262;
    --code-background: #ffffff;
    --topbar-menu-item-hover-bg: #00000012;
    --explorer-padding: 0px 15px;
    --switch-bg-default: #ffffff;
    --switch-bg-active: #ffffff;
    --switch-inner-default: #fff;
    --switch-inner-active: #ffffff;
    --explorer-tabs-bg: linear-gradient(0deg, #ffffff00, #0000000a);
    --explorer-tabs-border: radial-gradient(#00000024, transparent);
    --explorer-tabs-color: #000000;
    --default-badge-bg: #e5903624;
    --default-badge-text: #e59036;
    --segment-bg: #ffffff;
    --segment-label: #f1f1f1;
    --segment-divider: #ffffff1a;
    --danger: #ff4949;
    --warning: #e59036;

    --context-border: #00000017;

    --code-footer-bg: #ffffffcf;
    --notificator-body-bg: #ffffffb5;
    --notificator-body-border: #e9e9e9;
    --switch-checkbox-active: #000000;
    --switch-checkbox: #d1d1d1;
    --link-color: #4165f1;

    --color-default: #3770bc;
    --color-function: #ff641d;
    --color-class: #218f6b;
    --color-number: #3c4fff;
    --color-boolean: #7205ff;
    --color-string: #b43620;
    --color-keyword: #8d36c1;
    --color-const: #3060b7;
    --color-operator: #424fff;
    --color-template-literal-wrapper: #2a34b6;

    .code-tab.not-saved::after {
        background: #388ae1;
        border: 2px solid #ffffff;
    }
    .explorer-elements .file.active {
        background: #00000012;
    }

    .explorer-tabs {
        backdrop-filter: blur(10px) brightness(1);
    }

    .code-tab span:hover {
        background: #00000012;
    }

    .ace_marker-layer .ace_active-line {
        background: #bcbcbc2e;
    }
}
