.top-window {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    backdrop-filter: blur(50px);
    border: 1px solid var(--block-divider-border-color);
    z-index: 9999;
    width: 300px;
    min-height: 50px;
    border-radius: 10px;
    opacity: 1;
    pointer-events: all;
    transition: .2s;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}