:root {
    --color-boolean: #c19aff;
    --color-const: #72abff;
    --color-class: #83ffb4;
    --color-function: #ffef9d;
    --color-number: #ffa981;
    --color-string: #ffc17a;
    --color-special-operator: #ff93ce;
    --color-default: #8dbeff;
    --color-keyword: rgb(255, 125, 125);
}

.ace_boolean,
.ace_constant.ace_boolean {
    color: var(--color-boolean)!important;
}
.ace_numeric,
.ace_constant.ace_numeric {
    color: var(--color-number)!important;
}
.ace_constant {
    color: var(--color-const)!important;
}
.ace_class {
    color: var(--color-class)!important;
}
.ace_function {
    color: var(--color-function)!important;
}
.ace_storage.ace_type.ace_ts {
    color: var(--color-class)!important;
}
.ace_variable {
    color: var(--color-const)!important;
}
.ace_keyword {
    color: var(--color-keyword)!important;
}


.ace_editor .ace_dom.ace_global {
    color: var(--color-keyword);
    font-weight: 600;
}
.ace_editor .ace_custom.ace_function {
    color: var(--color-function);
}
.ace_editor .ace_custom.ace_class {
    color: var(--color-function);
}
.ace_editor .ace_custom.ace_constant {
    color: var(--color-const);
}
.ace_editor .ace_custom.ace_object {
    color: var(--color-const);
}
.ace_editor .ace_custom.ace_object.ace_prop {
    color: var(--color-const);
}
.ace_editor .ace_custom.ace_await {
    color: var(--color-special-operator);
}
.ace_editor .ace_string {
    color: var(--color-string);
}
.ace_editor .ace_identifier {
    color: var(--color-default);
}

.ace_dark.ace_editor.ace_autocomplete {
    border: 1px solid var(--topbar-menu-item-hover-bg);
    box-shadow: none;
    line-height: 1.4;
    background: var(--body-color);
    color: var(--text-color);
    border-radius: 5px;
}
.ace_dark.ace_editor.ace_autocomplete .ace_completion-highlight {
    color: var(--warning);
}
.ace_completion-meta {
    opacity: .2;
    font-size: 12px;
    font-family: var(--main-font);
}
.ace_autocomplete .ace_line {
    padding: 0px 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}
.ace_dark.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
    background: var(--block-divider-border-color);
}
.ace_autocomplete .ace_text-layer {
    width: 100%;
    margin: 0px!important;
}
.ace_line-hover {
    border: 0px!important;
    background: var(--body-color-solid)!important;
}
.ace_invalid.ace_deprecated,
.ace_invalid {
    background: var(--topbar-menu-item-hover-bg)!important;
    border-radius: 4px;
    text-decoration: line-through;
}

.ace_tooltip {
    background: var(--body-color)!important;
    border: 1px solid var(--topbar-menu-item-hover-bg);
    border-radius: 5px;
    box-shadow: #0000005e 0px 2px 7px 0px;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 12px;
    padding: 4px 8px;
    position: fixed;
    z-index: 999999;
    box-sizing: border-box;
    cursor: default;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    pointer-events: none;
    overflow: auto;
    max-width: min(33em, 66vw);
    overscroll-behavior: contain;
}
.ace_tooltip .ace_icon {
    width: 15px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}


.ace_search {
    background: var(--body-color-transparent);
    border: 1px solid var(--block-divider-border-color)!important;
    backdrop-filter: blur(5px);
    border-radius: 10px!important;
    padding: 5px;
}
.ace_search.right {
    top: 10px;
    right: 10px!important;
}
.ace_search_form {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ace_search_field {
    background: var(--block-divider-border-color);
    border: 0px;
    outline: 0px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: none;
    color: var(--text-color);
    padding: 0px 8px;
}
.ace_search_field:focus {
    box-shadow: none;
}
.ace_searchbtn {
    background: none;
    border: 0px;
    color: var(--text-color);
    opacity: .2;
    font-family: var(--main-font);
    padding: 0px!important;
    transition: .2s;
}
.ace_searchbtn:last-child {
    border: 0px;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 5px;
}
.ace_searchbtn:hover {
    opacity: 1;
}
.ace_search_counter {
    font-size: 12px;
}
.ace_button {
    float: left;
    margin-top: -2px;
    border-radius: 5px;
    color: var(--text-color);
    padding: 0px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 10px;
}
.ace_button:first-child {
    font-size: 12px;
}
.ace_searchbtn_close {
    background: url('data:image/svg+xml,%3Csvg%20width%3D%222156%22%20height%3D%222156%22%20viewBox%3D%220%200%202156%202156%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20d%3D%22m1078%201307.54-803.376%20803.37Q229.536%202156%20159.855%202156q-69.68%200-114.768-45.09C15.03%202080.85%200%202042.6%200%201996.14c0-46.45%2015.03-84.71%2045.087-114.76L848.464%201078%2045.087%20274.624Q0%20229.536%200%20159.855q0-69.68%2045.087-114.768T159.855%200t114.769%2045.087L1078%20848.464l803.38-803.377C1911.43%2015.03%201949.69%200%201996.14%200c46.46%200%2084.71%2015.03%20114.77%2045.087Q2156%2090.175%202156%20159.855t-45.09%20114.769L1307.54%201078l803.37%20803.38c30.06%2030.05%2045.09%2068.31%2045.09%20114.76%200%2046.46-15.03%2084.71-45.09%20114.77S2042.6%202156%201996.14%202156c-46.45%200-84.71-15.03-114.76-45.09z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h2156v2156H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
    background-size: cover;
    border-radius: 0px;
    height: 8px;
    width: 8px;
    opacity: .2;
    transition: .2s;
}
.ace_searchbtn_close:hover {
    opacity: 1;
}
.ace_search_form.ace_nomatch {
    outline: 1px solid var(--danger);
    border-radius: 5px;
}

.ace_comment_danger {
    opacity: .5;
    color: var(--danger);
}
.ace_comment_what {
    opacity: .5;
    color: var(--success);
}
.ace_comment_todo {
    opacity: .5;
    color: var(--warning);
}

.ace_marker-layer .ace_selected-word {
    border: none!important;
}

.ace-github-dark .ace_indent-guide {
    background: unset;
    border-right: 1px solid var(--context-border);
}

.ace_no_usage {
    opacity: .5;
    text-decoration: underline wavy #888;
}

.error-marker {
    position: absolute;
    background: color-mix(in srgb, var(--danger) 10%, transparent);
}