.user-form__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.user-form__title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
    padding-top: 10px;
}
.user-form {
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
}
.user-logo__section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.user-logo__title {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
}
.user-logo__desc {
    color: var(--text-color-muted);
    font-size: 12px;
    line-height: 20px;
}
.user-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background: var(--block-divider-border-color);
    border-radius: 10px;
}

.form-submit {
    background: var(--block-divider-border-color);
    padding: 10px 15px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    margin-top: 0px;
    border-radius: 10px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: .2s;
}
.form-submit:hover {
    background: #4183ff;
}
.form-submit[disabled] {
    pointer-events: none;
    user-select: none;
    opacity: .5;
}
.form-element.disappearance {
    transform: translateY(-50px);
    opacity: 0;
}

.user-form__links {
    position: absolute;
    bottom: 40px;
    display: flex;
    gap: 20px;
}
.user-form__links a {
    text-decoration: none;
    color: var(--text-color-muted);
    position: relative;
    cursor: pointer;
    transition: .2s;
}
.user-form__links a::after {
    content: '';
    background: var(--switch-bg-default);
    width: 1px;
    height: 50%;
    position: absolute;
    right: -10px;
    top: 5px;
    border-radius: 100px;
}
.user-form__links a:hover {
    color: var(--text-color);
}
.user-form__links a:last-child::after {
    display: none;
}

l-line-spinner {
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
l-line-spinner.hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    filter: blur(10px);
    transform: scale(0);
}

l-line-spinner.animate-appearance {
    filter: unset;
    opacity: 1;
    transform: scale(1);
}

.user-form__error.hidden {
    opacity: 0;
    pointer-events: none;
    transition: .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.user-form__error {
    border-radius: 10px;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 15px;
    color: #f33b3b;
    font-weight: 500;
    position: absolute;
    bottom: 280px;
    transition: .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}