.popup.hidden {
    display: none;
}

.popups-wrapper {
    display: flex;
    align-items: center;
}

.popup-title {
    font-size: smaller;
    font-weight: 500;
    opacity: .5;
    padding: 2px 7px;
    user-select: none;
    transition: .2s;

    &.inline {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &.active {
        opacity: 1;
        background: var(--divider);
        border-radius: 5px;
    }

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.popup-content {
    position: absolute;
    top: 35px;
    background: var(--body-color-solid);
    min-width: 150px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    transition: .2s;
    border-radius: 10px;
    border: 1px solid var(--block-divider-border-color);
    overflow: hidden;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.popup-content__item {
    padding: 10px 15px;
    font-size: 14px;
    transition: .2s;
    width: 100%;
    white-space: nowrap;

    &.disabled {
        opacity: .5;
        pointer-events: none;
        user-select: none;
    }

    &.danger {
        color: rgb(255, 59, 50);
    }

    &.hidden {
        display: none;
    }

    &:hover {
        background: var(--block-divider-border-color);
        cursor: pointer;
    }

    &:last-child {
        border: none;
    }
}

.popup-content__divider {
    border-bottom: 1px solid var(--block-divider-border-color);
}
