@import url("../variables.css");

/* .modal-badge {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 3px;
    background: var(--calendar-day-bg);
    color: var(--default-badge-text);
    font-weight: 600;
    width: fit-content;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    clip-path: path("M8.83374 0.485162C9.4767 -0.161721 10.5233 -0.161721 11.1663 0.485162L12.6406 1.96854C12.9505 2.28031 13.3723 2.45503 13.8119 2.45369L15.9033 2.44732C16.8154 2.44455 17.5555 3.18461 17.5527 4.09666L17.5463 6.1881C17.545 6.62768 17.7197 7.04949 18.0315 7.35937L19.5148 8.83374C20.1617 9.4767 20.1617 10.5233 19.5148 11.1663L18.0315 12.6406C17.7197 12.9505 17.545 13.3723 17.5463 13.8119L17.5527 15.9033C17.5555 16.8154 16.8154 17.5555 15.9033 17.5527L13.8119 17.5463C13.3723 17.545 12.9505 17.7197 12.6406 18.0315L11.1663 19.5148C10.5233 20.1617 9.4767 20.1617 8.83374 19.5148L7.35937 18.0315C7.04949 17.7197 6.62768 17.545 6.1881 17.5463L4.09666 17.5527C3.18461 17.5555 2.44455 16.8154 2.44732 15.9033L2.45369 13.8119C2.45503 13.3723 2.28031 12.9505 1.96854 12.6406L0.485162 11.1663C-0.161721 10.5233 -0.161721 9.4767 0.485162 8.83374L1.96854 7.35937C2.28031 7.04949 2.45503 6.62768 2.45369 6.1881L2.44732 4.09666C2.44455 3.18461 3.18461 2.44455 4.09666 2.44732L6.1881 2.45369C6.62768 2.45503 7.04949 2.28031 7.35937 1.96854L8.83374 0.485162Z");
    justify-content: center;
} */
.modal-badge {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 3px;
    background: var(--default-badge-bg);
    color: var(--default-badge-text);
    font-weight: 600;
    width: fit-content;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    clip-path: path("M6.27861 0.626884C7.11057 -0.204959 7.88317 -0.211655 8.71513 0.626884L9.73271 1.63665C9.83834 1.73578 9.93105 1.76945 10.0696 1.76946H11.4964C12.6845 1.7696 13.2259 2.3238 13.2259 3.49895V4.93157C13.2259 5.06366 13.2657 5.16307 13.3645 5.26165L14.3685 6.27825C15.2069 7.11016 15.2137 7.88287 14.3685 8.71478L13.3645 9.73235C13.2659 9.83782 13.2259 9.92995 13.2259 10.0683V11.495C13.2258 12.6831 12.678 13.2244 11.4964 13.2245H10.0696C9.93103 13.2246 9.83835 13.2643 9.73271 13.3632L8.71611 14.374C7.88381 15.2059 7.11063 15.2123 6.27861 14.374L5.26201 13.3632C5.16289 13.2644 5.06399 13.2246 4.93193 13.2245H3.49833C2.31697 13.2244 1.76891 12.6766 1.76884 11.495V10.0683C1.7688 9.93001 1.73555 9.83777 1.63701 9.73235L0.626265 8.71478C-0.205383 7.88278 -0.21212 7.11066 0.626265 6.27923L1.63603 5.26165C1.7352 5.16249 1.76884 5.06368 1.76884 4.93157V3.49895C1.76886 2.3107 2.31739 1.7685 3.49931 1.76849H4.93193C5.06405 1.76848 5.1634 1.73552 5.26201 1.63665L6.27861 0.626884Z");
    justify-content: center;
}

/* .modal-verified__badge {
    background: #2f77ff47;
    color: #2f77ff;
} */
.modal-verified__badge {
    background: var(--verified-bagde-bg);
    color: var(--verified-badge-text);

    /* .modal-verified__badge span[class^="material-symbols"] {
        font-size: 14px;
        font-variation-settings: 'FILL' 1, 'wght' 700 !important;
        margin-top: 1px;
    } */
    span[class^="material-symbols"] {
        font-size: 10px;
        font-variation-settings: 'FILL' 1, 'wght' 700 !important;
        margin-top: 1px;
        color: white;
    }
}

/* .modal-owner__badge {
    background: #ff2f2f47;
    color: #ff742f;
} */
.modal-owner__badge {
    clip-path: none;
    background: transparent;
    color: var(--owner-badge);

    span[class^="material-symbols"] {
        font-size: 14px;
        font-variation-settings: 'FILL' 1, 'wght' 700 !important;
        margin-top: 1px;
    }
}
