.modal-button {
    background: var(--block-divider-border-color);
    color: var(--text-color);
    font-family: inherit;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid var(--block-divider-border-color);
    transition: .2s;
}
.modal-button:hover {
    background: var(--topbar-menu-item-hover-bg);
    cursor: pointer;
}

.modal-button.danger {
    background: #ff5b5b14;
    color: #ff5b5b;
    font-weight: 400;
    border: 1px solid #ff5b5b14;
}